#!/usr/bin/with-contenv bashio
# ==============================================================================
# Start the cron service
# s6-overlay docs: https://github.com/just-containers/s6-overlay
# ==============================================================================

CONFIG_PATH=/data/options.json

USERTIME="$(jq --raw-output '.usertime' $CONFIG_PATH)"
DURATION="$(jq --raw-output '.duration' $CONFIG_PATH)"

# Set SBFspot runtimes
var="$(jq --raw-output '.Timer' $CONFIG_PATH)"
if bashio::var.equals "${var}" "5min"; then
   bashio::log.yellow '|   Starting SBFspot for every 5th minute   |'
   */5 6-22 * * * root /etc/s6-overlay/s6-rc.d/sbfspot/run

elif bashio::var.equals "${var}" "1min"; then
     bashio::log.magenta '|   Starting SBFspot for every 1 minute   |'
     */1 6-22 * * * root /etc/s6-overlay/s6-rc.d/sbfspot/run

elif bashio::var.equals "${var}" "UT"; then
      bashio::log.red '|    Starting SBFspot for every "${USERTIME}" minutes   |'
      bashio::log.red '|              Between hours "${DURATION}"              |'
      "${USERTIME}" "${DURATION}" * * * root /etc/s6-overlay/s6-rc.d/sbfspot/run
else
     bashio::log.cyan '|    No One knows how you got here    |'
     bashio::log.cyan '|     check your option selection     |'
fi

# Enable SBFspotUpload
var="$(jq --raw-output '.Upload' $CONFIG_PATH)"
if bashio::var.equals "${var}" "true"; then
   bashio::log.cyan '|   Starting SBFspotUpload  |'
   # start SBFspotUpload 1 min after boot
   RUN echo '@reboot sleep 60 && /usr/bin/sbfspot/SBFspotUploadDaemon -c /usr/bin/sbfspot/SBFspotUpload.cfg
fi
      
# update sensors after restart
@reboot sleep 30 && /usr/bin/sbfspot/SBFspot -v -ad0 -am0 -mqtt -finq

# monthly data SBFspot archive upload at 5:55am now with -mqtt call
55 05 * * * /usr/bin/sbfspot/SBFspot -v -sp0 -ad14 -am1 -ae1 -mqtt -finq
